
.no{
    padding-left: 20px;
    display:flex;
    gap:345px;
  

   
}
.n{
 
    border: 3px #7f7fcc solid;
    padding-right: 40px;
  border: 2px #497097 solid;
  background-color: #497097;
    height: 40px;
    padding-top: 10px;
    padding-left: 15px;
    border-radius: 8px;
}
.un{

    border: 3px #7f7fcc solid;
    padding-right: 40px;
    background-color: #497097;
    height: 40px;
    
    padding-top: 10px;
    padding-left: 5px;
    border-radius: 8px;
}
.on{
    border: 3px #7f7fcc solid;
    padding-right: 40px;
    background-color: #497097;
    height: 40px;
    padding-top: 10px;
    padding-left: px;
    border-radius: 8px;
    max-width: 500px;
    padding-right: 70px;
    justify-content: space-between;
    display: inline-block
}

.pn{
   
    border: 3px #7f7fcc solid;
    padding-right: 60px;
    background-color: #497097;
    height: 40px;
    
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 8px;
    display: inline-block;
    
}


.no{
    padding-left: 20px;
    display:flex;
    gap:345px;
  

   
}
.n{
 
    border: 3px #7f7fcc solid;
    padding-right: 40px;
  border: 2px #497097 solid;
  background-color: #497097;
    height: 40px;
    padding-top: 10px;
    padding-left: 15px;
    border-radius: 8px;
}
.un{

    border: 3px #7f7fcc solid;
    padding-right: 40px;
    background-color: #497097;
    height: 40px;
    
    padding-top: 10px;
    padding-left: 5px;
    border-radius: 8px;
}
.on{
    border: 3px #7f7fcc solid;
    padding-right: 40px;
    background-color: #497097;
    height: 40px;
    padding-top: 10px;
    padding-left: px;
    border-radius: 8px;
    max-width: 500px;
    padding-right: 70px;
    justify-content: space-between;
    display: inline-block
}

.pn{
   
    border: 3px #7f7fcc solid;
    padding-right: 60px;
    background-color: #497097;
    height: 40px;
    
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 8px;
    display: inline-block;
    
}

